PORT=5000

MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/techstore?retryWrites=true&w=majority

JWT_SECRET=replace_with_a_strong_random_string_32_chars_minimum
JWT_EXPIRE=30d

CLIENT_URL=https://your-frontend.vercel.app

# Cloudinary — get these from cloudinary.com > Dashboard
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
